
* {
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.todo {
  width: 300px;
  height: 200px;
  display: block;
  margin: auto;
}

.todo-input {
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  width: 100%;
  height: 20px;
  border: none;
  display: block;
}

ul {
  padding: 0;
  width: 100%;
}

li {
  text-decoration: none;
  list-style-type: none;
  border-bottom: 1px solid gray;
  padding: 5px 0;
  margin: 5px 0;
}

.clear {
  margin: auto;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  height: 30px;
  border: none;
  cursor: pointer;
}

.todo-item {
  width: 100%;
  display: flex;
  height: 25px;
}

.text {
  width: 50%;
}

.all-btn {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

input[type="checkbox"] {
  margin-right: 5px;
  display: inline;
}

.task-description {
  display: inline;
}

.completed {
  text-decoration: line-through;
}
